.cursor-pointer{
  cursor: pointer;
}
body ,html ,#app {
  min-height: 100vh;
  width: 100%;
}

a{
  text-decoration: none !important;
  color: #080507;
  transition: all 0.3s;
}
a:hover{
  color: #E0338A ;
}

.page{
  padding-top: 200px;
  height: 100%;
}

@font-face {
  font-family: "Avenir-Roman";
  src: url("../../../public/fonts/Avenir-Roman.ttf") format("truetype");
  font-weight: 400;
  
    
}

@font-face {
  font-family: "Avenir-Medium";
  src: url("../../../public/fonts/Avenir-Medium.ttf") format("truetype");
  font-weight: 500;
  
    
}

@font-face {
  font-family: "Avenir-Light";
  src: url("../../../public/fonts/Avenir-Light.ttf") format("truetype");
  font-weight: 300;
  
    
}


@font-face {
  font-family: "Avenir-Heavy";
  src: url("../../../public/fonts/Avenir-Heavy.ttf") format("truetype");
  font-weight: 600;
  
    
}

@font-face {
  font-family: "Avenir-Black";
  src: url("../../../public/fonts/Avenir-Black.ttf") format("truetype");
  font-weight: 600;
  
    
}


*{
  font-family: Avenir;
  
}

h1 ,h2, h3{
  font-weight: 900 !important;
}

h3, h4, h5 {
  font-weight: 800 !important;
}